.term
{
	margin-left：auto;
	margin-right:auto;
	text-align:center;
}
.usehelp
{
	text-align:justify;
	
}
.helptext
{
	text-indent:50px;
}
.showimg
{
	margin-left：auto;
	margin-right:auto;
	width:400px;
	height:200px;
	float:left;
}
.showsmallimg
{
	width:130px;
	height:80px;
}
.detail
{
	float:left;
	
}
.clearfloat
{
	clear:both;
	
}
a 
{
	text-decoration:none;
}